<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>br.com.tomchat.filters.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/room/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/env</url-pattern>
	</filter-mapping>
	
	<!-- 
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	 -->
</web-app>
