<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>br.com.tomchat.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/login</url-pattern>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
</web-app>
